<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requisição</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>

    <h1>Requisição:</h1>
    <h2>Cotação Dólar - Real</h2>
    <br>
    <span>Resultados da requisição:</span>
    <ul>
        <li>Alta: R$ {{alta}}</li>
        <li>Baixa: R$ {{baixa}}</li>
        <li>Var: {{var}}</li>
        <li>Cotação: R$ {{cotacao}}</li>
        <li>Última atualização: {{created_date}}</li>
    </ul>

<script src="../static/scripts.js"></script>

</body>
</html>